<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Moment_By_Moment</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
  </head>
  <body>
    <nav class = "login">
      <button type="button" id="Signup">Sign Up</button>
      <button type="button" id="Login">Log in</button>
      <br>
    </nav>
    <h1 id="text">MOMENT BY MOMENT PHOTO GALLERY</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 id="tag" style="text-align:center">Sign Up to See Photos</h2>
  </body>
</html>